.container {
  border:1px solid #7799bb;
	padding: 1em;
	margin: .5em;
	cursor: default;
	-moz-border-radius:8pt 8pt;
}

.hover {
  background-color: #cccccc;
}

.container ul, .container ol, .container li{
  list-style-type: none;
}

.strike {
  text-decoration: line-through;
}


#application-pages li{
  list-style-image: url('resource/foundation/icons/page.png');
}

#new-pages ol, #new-elements ol{
	list-style-type: none;
}
#new-pages li, #new-elements li{
	background-image: url('resource/foundation/icons/bullet_add.png');
	background-repeat: no-repeat;
	padding-left: 14px;
}

#workspace p{
  padding-left: 16px;
  background-repeat: no-repeat;
  background-image: url('resource/foundation/icons/pencil.png');
  clear: left;
}

#workspace p.deletePage, #workspace p.deleteElement{
	background-image: url('resource/foundation/icons/delete.png');
}

#workspace p.previewPage{
  background-image: url('resource/foundation/icons/page_code.png');
}

#workspace p.savePage{
  background-image: url('resource/foundation/icons/page_save.png');
}

#workspace p.add-list-item{
  background-image: url('resource/foundation/icons/add.png');
}

#workspace p.title{
  font-size: 120%;
  font-weight: bold;
}

#canvas {
  width: 100%;
}

#status-bar img {
  width: 120px;
}

#workspace div.element{
  clear: both;
}
