#canvas {
  width: 100%;
}

.container {
  border:1px solid #7799bb;
	padding: 1em;
	margin: .5em;
	cursor: default;
	-moz-border-radius:8pt 8pt;
}

.container ul, .container ol, .container li{
  list-style-type: none;
}

.strike {
  text-decoration: line-through;
}

ol.page-list li{
  list-style-image: url('resource/foundation/icons/page.png');
}

ol.page-list li.active{
  list-style-image: url('resource/foundation/icons/page_edit.png');
}

ol.add-list li{
	list-style-image: url('resource/foundation/icons/bullet_add.png');
}

#workspace p, #save-pages{
  padding-left: 16px;
  background-repeat: no-repeat
}

p.edit{
  background-image: url('resource/foundation/icons/pencil.png');
}

p.delete{
	background-image: url('resource/foundation/icons/delete.png');
}

p.preview{
  background-image: url('resource/foundation/icons/page_code.png');
}

p.save{
  background-image: url('resource/foundation/icons/page_save.png');
}

p.add{
  background-image: url('resource/foundation/icons/add.png');
}

#status-bar img {
  width: 120px;
}

#workspace p.title{
	font-size: 121%;
  font-weight: bold;
}

#workspace div.form{
	border: none;
}

#workspace-left-middle{
	background-color: #eeffff;
	overflow: hidden;
	border-right: .5px solid #7799bb;
	border-bottom: .5px solid #7799bb;
}

#workspace-left-middle-left div.field{
  border: .5px solid #7799bb;	
  background-color: #ffffff;
}


#workspace-left-middle-left div.selected{
  background-color: #eeffff;
  border-right:none;
}

#workspace-left-middle-right{
  border-top: .5px solid #7799bb;
  float: left;
}

#workspace div.element div.control, #workspace div.element div.format, #workspace div.element div.format p{
  float: left;
  clear: none;
}