/***** Default Jazzee Style *****/

/***** Base colors and structure *****/
html,body {
	background-color: #F4F4F4;
	margin-top: 0;
}

#hd h1{
  padding: 2em 1em 0 0; 
  text-align: right; 
  color:#FFF;
  font-size:153.9%;
  margin:0 0 2em 0;
}
#hd {
	margin: 0 0 2em 0;
	padding:0;
	background-color:#294274;
	color:#FFF;
	background-image: url(../images/logo_uc.png); /* Background logo in the header */
	background-repeat: no-repeat;
	background-position: left;
}

#center {
	margin-right:1em;
}

h2 {color:#294274;font-size:131%;}

a {color:#0063BB;}
a:hover {color:#004D93;}
a:visited {color:#004D93;}

#univ {
	padding: .4em 0 .2em 0;
	background-color:#F4F4F4;
	margin:0;
}

#univ p {
	font-size:80%;
	color:#294274;
	margin:0;
	padding:0;
}

#topbar {
  /*background-color:#E3ECF4;
  min-height:1em;*/
}

#topbar p {
 padding: 0.3em;
}

#bar {
  min-height: 400px;
}
.title {
	color:#294274;
	font-size:80%;
	text-transform:uppercase;
	letter-spacing:.1em;
	font-weight:bold;
}
#content {
  padding-left: .5em;
  margin-top: 1em;
  min-height: 400px;
}

#container {
	background-color:#FFF;
	/*margin:0;*/
	}

#main {
  border-left: 1px solid #BFD3E6;
  padding: 0 1em 1em 1em;
}


#messages p {
  text-align: center;
  font-weight: bold;
  padding: .75em;
  margin: .75em 0 .75em 0;
}

#ft {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #BFD3E6;
  text-align: center;
  font-size: 80%;
  color:#294274;
  background-color: #ffffff;
}

#ft p {
  margin-bottom: .25em;
  font-size: 85%;
  text-align: center;
}



.hidden {
  display: none;
}

.success {
  border: 1px dashed #BFD3E6;
  background-color: #DFF4FF;
}

.notice {
  background-color: #DFF4FF;
  border: 1px groove #BFD3E6;
}

.error {
  background-color: #ffcc99;
  border: 1px groove #BFD3E6;
}

/*ol li, ul li {
  list-style-position: inside;
}*/

/***** NAVIGATION *****/

/* Horizontal/Dropdown Navigation */
div.h-navigation {
	
	background-color: #E3ECF4;
	display:block;
	padding: .5em 0 0 1em;
	margin:-1.9em 0 2em 0;
	height:2em;
}

.h-navigation-sub {
	  width:180px;
}

div.h-navigation ol, div.h-navigation a {
  list-style-type: none;
  text-decoration: none;
  display: block;
  padding:0;
  margin:0;
}

div.h-navigation li {
  /*width: 146px;*/
  height: 2em;
  float: left;
  position: relative;
  z-index: 5;
  background-color: #E3ECF4;
  display: block;
  cursor: pointer;
  padding-right:5em;
  font-weight:bold;
  color:#294274;
}

div.h-navigation li:hover {
  z-index: 10000;
  white-space: normal;/* Fix for IE7 hover bug */
}

div.h-navigation li ol {
  display: block;
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0; /*place the dropdown directly or IE7 throws it right*/

}

div.h-navigation li:hover ol {
  visibility: visible;
  top: 100%;
}

div.h-navigation li ol li {
  float: none;
  clear: both;
    margin-left:.5em;
}

div.h-navigation li:after, div.h-navigation li ol:after {
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
div.h-navigation, div.h-navigation ol {
  min-height: 0;
}

div.h-navigation li ol {
  background-color: #E3ECF4;
  padding: 1em .25em .25em .25em;
  margin: -.5em -2em -2em -.5em;
}

div.h-navigation ol, div.h-navigation ol li {
  background-color: #E3ECF4;
}

div.h-navigation li:hover, div.h-navigation a:hover, div.h-navigation li:hover>a {
  background-color: #E3ECF4;
}


/***** SIDEBAR NAVIGATION *****/

div.v-navigation {
margin:0 .1em 0 .8em;
padding:0;
}

div.v-navigation ul, div.v-navigation ol{
margin:0;
padding:0;
position:relative;
overflow:hidden;
}

div.v-navigation li{
  list-style: none;
  margin:0;
  padding: 0 0 .4em 1.5em;
  font-weight: bold;
  display: block;
}

div.v-navigation a {
  text-decoration: none;
}

div.v-navigation li.current {
  background-image: url('../images/asterisk_yellow.png');
  background-repeat: no-repeat;
}

div.v-navigation li.complete {
  background-image: url('../images/tick.png');
  background-repeat: no-repeat;
}

div.v-navigation li.incomplete {
  background-image: url('../images/incomplete.png');
  background-repeat: no-repeat;
}

/***** FORMS *****/

div.form {
  /*padding: 1em;
  width: 95%;
  margin: 1em 0 1em 0;
  background-color:#FDFCE9;
  border: 1px solid #E3ECF4;*/
}

/*div.form ol {  
  list-style: none;
}*/
h2.formhead {
	font-size:93%;
	border-bottom:.15em solid #BFD3E6;
	display: block;
	text-transform:uppercase;
	letter-spacing:.15em;
	padding-top:.5em;
}
div.form ol li {   
  width: 100%;
  list-style: none;
  margin-left:-2em;
  margin-right:.5em;
  padding-right:.5em;

}

div.form ul {
	margin-left:-2em;
	padding:0;
}

div.form p.required{
  float: right;
  text-align: right;
  background-image: url('../images/asterisk_yellow.png');
  background-repeat: no-repeat;
  padding: .25em 0 1em 2em;
  font-size:80%;
}

fieldset {
  clear: both;
  border:.25em solid #E3ECF4;
  padding:.5em 1em 1em 1em;
  margin-bottom:1em;
  /*border-top: .25em solid #E3ECF4;
  background-color:#FDFCE9;
  padding: 2em 0 2em 0;*/
}


/*div.form div.field {
  clear: both;
  margin-bottom: 0.5em;
}*/

legend {  
  font-weight: bold;
  font-size:123.1%;
  color:#294274;
  padding:0 1em 0 1em;
}

label{
  font-weight:bold;
  margin-bottom:.3em;
  margin-top:-.3em;
  color:#294274;
  font-size:93%;
}

/*div.form fieldset.buttons input{
  height: 3em;
  padding: 1em;
  margin-right: 1em;
}

div.form div.field div.element label{
  padding-right: 16px;
  margin:0;
}*/

/*div.form div.required div.element label{
  background-image: url('../images/asterisk_yellow.png');
  background-repeat: no-repeat;
  background-position:top right;
}*/

/*div.form div.required div.element ol li label{
  background: none;
}*/

div.form p.instructions {
 /* font-family:georgia;*/
  font-style:italic;
  font-size:93%;
  margin: 1em 0 1em 0;
  padding: 1em;
  border: 1px dashed #BFD3E6;
  background-color: #FDFCE9;
}
div.form p.format {
	font-style:italic;
	font-size:93%;
}

/*div.form div.field p.message {
  color: #FF0000;
}

div.form div.field p.instructions {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  width: 60%;
}

div.form div.field p.instructions, div.form div.field p.format, div.form div.field p.message {
  font-style: italic;
  font-size: 80%;
}*/

div.form textarea {
  padding:.25em;
  border:1px solid #BFD3E6;
  width:80%;
}

.butt {
	padding: 4px;
	margin: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #0063BB;
	font-weight: bold;
}

.buttsm {
	padding: 2px;
	margin: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: #0063BB;
	/*font-weight: bold;*/
}
input {
	padding:.25em;
	margin:.1em;
	/*border:1px solid #CCCCCC;
	width:100%;*/
}
