/***** Apply Styles *****/
.answer {
  display: block;
  width: 400px;
  border: 1px outset #7799bb;
  margin: 10px 5px;
  padding-left: .25em;
}
.answer h5 {
  font-size: 110%;
  font-weight: strong;
  text-align: left;
  margin-bottom: .25em;
  color: #79b;
  border-bottom: 1px solid #7799bb;
}

.answer p {
  margin-bottom: .1em;
  padding: 0;
}

.answer p.status {
  margin-top: .25em;
  font-size: 80%;
  font-style: italic;
  border-top: 1px solid #7799bb;
}

.answer p.controls {
  text-align: right;
}
.answer p.controls a {
  text-align: right;
  margin: 5px;
}
.answer a.delete {
  color: #990000;
}
.answer a.edit {
  color: #7799bb;
}

.active h5 {
  color: #000000;
  background-color: #ffcc66;
  border-bottom: 1px solid #ffcc66;
}

.inactive {
  color: #000000;
  background-color: #cccccc;
  border-bottom: 1px solid #cccccc;
}

.inactive h5 {
  color: #ffffff;
  background-color: #000000;
  border-bottom: 1px solid #000000;
}

p.skip {
  font-weight: bold;
  font-size: 1.1em;
}

/* make room for the status icon */
#bar li.link a {
  padding-left: 12px;
}

#bar li a.skipped {
  background-image: url(resource/foundation/media/icons/error.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 12px 12px;
}

#bar li a.complete {
  background-image: url(resource/foundation/media/icons/accept.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 12px 12px;
}

#counter p{
  margin: 0 6em;
  border: 1px outset #7799bb;
  text-align: center;
  padding: .5em;
  color: #000000;
  background-color: #ffcc66;
}

div.threaded div {
  margin-left: 2em;
}

div.threaded p.header {
  font-weight: bold;
  border-top: 1px solid #000000;
}

div.threaded p.footer {
  text-align: right;
}

sup.count{
  background-color: #ff0000;
  border-radius: .5em;
}