/***** Apply Styles *****/
.answer {
  display: block;
  width: 400px;
  border: 1px outset #7799bb;
  margin: 10px 5px;
  padding-left: .25em;
}
.answer h5 {
  font-size: 110%;
  font-weight: strong;
  text-align: left;
  margin-bottom: .25em;
  color: #79b;
  border-bottom: 1px solid #7799bb;
}

.answer p {
  margin-bottom: .1em;
  padding: 0;
}

.answer p.status {
  margin-top: .25em;
  font-size: 80%;
  font-style: italic;
  border-top: 1px solid #7799bb;
}

.answer p.controls {
  text-align: right;
}
.answer p.controls a {
  text-align: right;
  margin: 5px;
}
.answer a.delete {
  color: #990000;
}
.answer a.edit {
  color: #7799bb;
}

.active h5 {
  color: #000000;
  background-color: #ffcc66;
  border-bottom: 1px solid #ffcc66;
}

.inactive {
  color: #000000;
  background-color: #cccccc;
  border-bottom: 1px solid #cccccc;
}

.inactive h5 {
  color: #ffffff;
  background-color: #000000;
  border-bottom: 1px solid #000000;
}

p.skip {
  font-weight: bold;
  font-size: 1.1em;
}

/* make room for the status icon */
#bar li.link a {
  padding-left: 12px;
}

#bar li a.skipped {
  background-image: url(resource/foundation/media/icons/error.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 12px 12px;
}

#bar li a.complete {
  background-image: url(resource/foundation/media/icons/accept.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 12px 12px;
}

#counter p{
  margin: 0 6em;
  border: 1px outset #7799bb;
  text-align: center;
  padding: .5em;
  color: #000000;
  background-color: #ffcc66;
}

div.threaded div {
  margin-left: 2em;
}

div.threaded p.header {
  font-weight: bold;
  border-top: 1px solid #000000;
}

div.threaded p.footer {
  text-align: right;
}

sup.count{
  background-color: #ff0000;
  border-radius: .5em;
}

input.school-chooser {
width: 300px;
}

ul.ui-autocomplete {
text-align: left;
list-style-type: none !important;

}

ul.ui-autocomplete .ui-menu-item {
text-align: left;
list-style-type: none !important;
}

.no-close .ui-dialog-titlebar-close {
display: none;
}
/*
#newSchoolDialog{
display: none;
}
*/

/* STOP ANIMATION */

.stop {
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
	display: none;
}

.ball {

    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 15px;
/*    box-shadow: 0 0 25px #2187e7; */
    width: 10px;
    height: 10px;
    margin: 0 auto;
    top: -45px;
    position: relative;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
}

.ball1 {

    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 15px;
    box-shadow: 0 0 2px #2187e7;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    position: relative;
    top: -45px;
    -moz-animation: spinoff .5s infinite linear;
    -webkit-animation: spinoff .5s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    };
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    };
}

