#canvas {
  width: 100%;
}

#save, #status {
  float: left;
}

#yui-main {
  clear: both;
}

div#editPage {
  display: none;
}

.toolbar {
  padding: 10px 4px;
}

div#pageInfo {
  float: right;
  border-left: 1px dotted #7799bb;
}

div#workspace {
  clear: both;
  margin-top: 1em;
}

#elements div.elements{
  border-bottom: 1px solid #7799bb;
  margin-bottom: 1em;
}

ul, ol, ol li, ul li, li{
  list-style-type: none;
}

.strike {
  text-decoration: line-through;
}

#pages ol li{
  list-style-image: url(resource/foundation/media/icons/page.png);
  cursor: pointer;
}

#pages ol li.active{
  list-style-image: url(resource/foundation/media/icons/page_edit.png);
  font-weight: bold;
}

#pages ol li.global{
  list-style-image: url(resource/foundation/media/icons/world.png);
}

#pages ol li.global.active{
  list-style-image: url(resource/foundation/media/icons/world_edit.png);
}

div.listItems li.inactive{
  text-decoration: line-through;
}

#status-bar img {
  width: 120px;
}

.dropdown .ui-button, .dropdown .ui-buttonset .dropdown p{
  display: block;
}



.dropdown .ui-buttonset *{
  display: inline-block;
}


#workspace #elements div.required label{
  padding-right: 15px;
  background-image: url(resource/foundation/media/icons/asterisk_yellow.png);
  background-repeat: no-repeat;
  background-position:top right;
}

ul.elementListItems li span.handle {
  float: left;
}

ul.elementListItems li{
  text-align: left;
  overflow: auto;
}

ul.elementListItems li.inactive{
  text-decoration: line-through;
}

ul.elementListItems span.tools{
  float: right;
}

ul.elementListItems li span.tools button span.ui-button-text{
  padding: 0 0 0 1.5em;
}

div.form textarea {
  width: 100%;
}