@CHARSET "UTF-8";

html {
  background-color: #e6e6e6;
}


#hd {
  background-color:#003366;
}

#hd h1{
  color:#ffffff;
}

#bd {
  background-color: #ffffff;
  color: #000000;
}

a, a:visited {color:#003366;}
a:hover {color:#cc6600;}
a.highlight {font-weight: bold;}

#main {
  border-left: 1px solid #003366;
}

#ft p {
  border-top: 1px solid #003366;
  font-size: 80%;
  font-size: 85%;
  text-align: center;
}

#messages p {
  padding: 10px;
  border-style: groove;
  border-size: 1px;
}

div.jgrowl {
  width: 15%;
}

#ajaxstatus { float: right;}

.success, .success div.ui-tooltip-content {
  color: #7799bb;
  border-color:#7799bb;
}

.notice, .notice div.ui-tooltip-content {
  color: #cc9933;
  border-color:#cc9933;
}

.error, .error div.ui-tooltip-content {
  color: #990000;
  border-color: #990000;
}

.strong {
  font-weight: bold;
}

#topbar {
  background-color: #003366;
  color: #ffffff;
}

#topbar p.links{
  background-color: #7799bb;
  float: right;
}

#topbar p.links a{
  color: #ffffff;
  padding: .5em;
  text-decoration: none;
}

#topbar p.links a:hover {
  background-color: #336699;
  color:#cc6600;
}

/***** NAVIGATION Style *****/

/* Horizontal/Dropdown Navigation */
div.h-navigation, div.h-navigation li, div.h-navigation ol {
  background-color: #7799bb;
  color: #000000;
}

div.h-navigation li:hover, div.h-navigation a:hover, div.h-navigation li:hover>a {
  color: #336699;
}

/***** SIDEBAR NAVIGATION *****/
div.v-navigation li{
  list-style: none;
}

div.v-navigation a {
  text-decoration: none;
  display: block;
}

div.v-navigation a.current {
  color:#cc6600;
}

/***** FORM STYLE *****/

div.form {
  border: 2px double #003366;
  padding: 10px;
}

div.form ol{
  list-style: none;
}

div.form fieldset{
  border: none;
}

div.form legend{
  font-size: 121%;
  font-weight: bold;
}

div.form p.required{
  background-image: url('resource/foundation/media/icons/asterisk_yellow.png');
  background-repeat: no-repeat;
  padding-left: 20px;
}

/** Remove the background if we are two labels deep - link in ranking lists **/
div.form div.required div.control div.control{
  background: none;
}

div.form div.control, div.form div.control ol div.control{
  padding-left: 16px;
}
div.form div.required div.control, div.form div.control.required{
  background-image: url(resource/foundation/media/icons/asterisk_yellow.png);
  background-repeat: no-repeat;
  background-position:top left;
}

div.form p.instructions, div.form div.instructions {
  border: 1px groove #000000;
  background-color: #ffffdd;
  padding: 1em 2em;
}

div.form div.field p.message {
  color: #990000;
}

div.form div.field p.instructions {
  width: 60%;
}

div.form div.field p.instructions, div.form div.field p.format, div.form div.field p.message {
  font-style: italic;
  font-size: 80%;
}

div.form textarea {
  height: 15em;
  width: 80%;
}

div.form div.control li{
  padding-bottom: .25em;
}

/***** TABLE STYLE *****/
table {
  border-collapse: collapse;
  border: 1px solid #000000;

}
td, th {
  padding: .25em;
  border: 1px solid #000000;
}

thead {
  background-color: #CCCCCC;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.highlight td{
  background-color: #ffcc66;
}

table caption {
  font-weight: bold;
  font-size: 1.2em;
}

table tr.even {
  background-color: #fffff;
}

table tr.odd {
  background-color: #eeeeee;
}

div.discussion tr.unread td:first-child{
  padding-left: 20px;
  background-image: url(resource/foundation/media/icons/email_add.png);
  background-repeat: no-repeat;
  background-position:left center;
}

fieldset {
  border: 1px solid #003366;
  padding: 2em;
}

legend {
  font-weight: bold;
}

ul.nobullets, ol.nobullets, .nobullets li{
  list-style: none;
}

ins {
  color: #008000;
}

del {
  color: #990000;
}